# Data Pre-Processing

### Importing all of the libraries needed

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import sklearn
import tensorflow as tf
import keras as krs
from tensorflow import keras
from sklearn import preprocessing
from keras import layers

sns.set()

WARNING:tensorflow:From c:\Users\LENOVO\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
import matplotlib
print("Pandas Version: ", pd.__version__)
print("NumPy Version: ", np.__version__)
print("Matplotlib Version: ", matplotlib.__version__)
print("Seaborn Version: ", sns.__version__)
print("TensorFlow Version: ", tf.__version__)
print("Keras Version: ", krs.__version__)
print("Scikit-Learn Version: ", sklearn.__version__)

Pandas Version:  2.1.3
NumPy Version:  1.26.2
Matplotlib Version:  3.8.2
Seaborn Version:  0.13.0
TensorFlow Version:  2.15.0
Keras Version:  2.15.0
Scikit-Learn Version:  1.3.2

## Understanding the Data Type and Data Type Cleaning

In [174]:
dataset = pd.read_csv("Melbourne_housing_FULL.csv")
print(dataset.shape)
dataset.head(5)

(34857, 21)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [175]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

### Variable Types (1)
- Categorical Variables

In [176]:
# Identifying object column and converting it to categorical variable
print(dataset.select_dtypes(["object"]).columns)

categorical = [
    "Suburb",
    "Address",
    "Type",
    "Method",
    "SellerG",
    "Date",
    "CouncilArea",
    "Regionname",
]

for cat_variables in categorical:
    dataset[cat_variables] = dataset[cat_variables].astype('category')

Index(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea',
       'Regionname'],
      dtype='object')

In [177]:
# Convert data column to date object
dataset['Date'] = pd.to_datetime(dataset['Date'], dayfirst=True)
dataset['Date'].head(5)

0   2016-09-03
1   2016-12-03
2   2016-02-04
3   2016-02-04
4   2017-03-04
Name: Date, dtype: category
Categories (78, datetime64[ns]): [2017-07-01, 2018-02-10, 2018-03-10, 2016-09-10, ..., 2017-07-08, 2016-10-08, 2017-09-09, 2017-12-09]

In [178]:
# Since postal code can be converted as categorical data type, thus
postal = ['Postcode']

for postcode in postal:
    dataset[postcode] = dataset[postcode].astype('category')

### Variable Types (2)
- Numerical Variables

In [179]:
dataset.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Rooms,34857.0,3.031012e+00,0.969933,1.00000,2.00000,3.0000,4.000000e+00,1.600000e+01
Price,27247.0,1.050173e+06,641467.130105,85000.00000,635000.00000,870000.0000,1.295000e+06,1.120000e+07
Distance,34856.0,1.118493e+01,6.788892,0.00000,6.40000,10.3000,1.400000e+01,4.810000e+01
Bedroom2,26640.0,3.084647e+00,0.980690,0.00000,2.00000,3.0000,4.000000e+00,3.000000e+01
Bathroom,26631.0,1.624798e+00,0.724212,0.00000,1.00000,2.0000,2.000000e+00,1.200000e+01
Car,26129.0,1.728845e+00,1.010771,0.00000,1.00000,2.0000,2.000000e+00,2.600000e+01
Landsize,23047.0,5.935990e+02,3398.841946,0.00000,224.00000,521.0000,6.700000e+02,4.330140e+05
BuildingArea,13742.0,1.602564e+02,401.267060,0.00000,102.00000,136.0000,1.880000e+02,4.451500e+04
YearBuilt,15551.0,1.965290e+03,37.328178,1196.00000,1940.00000,1970.0000,2.000000e+03,2.106000e+03
Lattitude,26881.0,-3.781063e+01,0.090279,-38.19043,-37.86295,-37.8076,-3.775410e+01,-3.739020e+01
Longtitude,26881.0,1.450019e+02,0.120169,144.42379,144.93350,145.0078,1.450719e+02,1.455264e+02
Propertycount,34854.0,7.572888e+03,4428.090313,83.00000,4385.00000,6763.0000,1.041200e+04,2.165000e+04

### Data Type Cleaning Result

In [180]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  category
 1   Address        34857 non-null  category
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  category
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  category
 6   SellerG        34857 non-null  category
 7   Date           34857 non-null  category
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  category
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  category
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  category
 20  Propertycount  34854 non-null  float64
dtypes: category(9), float64(11), int64(1)
memory usage: 5.0 MB

## Data Cleaning

In data cleaning, we could use several methods to handle missing value, noisy, data, etc.

### Duplicate Columns

As you can see there are two columns that looked similar, which leads to ambiguity. Thus, I will check the `Rooms` and `Bedroom2` columns, whether it has a significance diffierence or not.

In [181]:
dataset['Duplicate Columns'] = dataset['Rooms'] - dataset['Bedroom2']
print("Rooms VS Bedroom2 (Average): ", dataset['Duplicate Columns'].mean())
print("Rooms VS Bedroom2 (Median): ", dataset['Duplicate Columns'].median())
dataset.head(10)

Rooms VS Bedroom2 (Average):  0.016253753753753753
Rooms VS Bedroom2 (Median):  0.0

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Duplicate Columns
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,2016-09-03,2.5,3067.0,...,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0,0.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067.0,...,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0,0.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067.0,...,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0,0.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,2016-02-04,2.5,3067.0,...,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0,0.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067.0,...,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0,0.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067.0,...,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0,0.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067.0,...,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0,1.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,2016-08-06,2.5,3067.0,...,2.0,400.0,220.0,2006.0,Yarra City Council,-37.7965,144.9965,Northern Metropolitan,4019.0,1.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,2016-08-06,2.5,3067.0,...,2.0,201.0,NaN,1900.0,Yarra City Council,-37.7995,144.9974,Northern Metropolitan,4019.0,-2.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,2016-08-06,2.5,3067.0,...,1.0,202.0,NaN,1900.0,Yarra City Council,-37.7996,144.9989,Northern Metropolitan,4019.0,-1.0

The result shows that there's no significance difference between these two, thus I will use the `Rooms` column instead

In [182]:
dataset = dataset.drop(['Bedroom2', 'Duplicate Columns'], axis=1)

In [183]:
dataset.head(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,2016-09-03,2.5,3067.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0

### Missing Values

In [184]:
# Summary of missing values
dataset.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [185]:
# Average of missing values
dataset.isnull().sum()/len(dataset)*100

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            21.832057
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.002869
Postcode          0.002869
Bathroom         23.599277
Car              25.039447
Landsize         33.881286
BuildingArea     60.576068
YearBuilt        55.386293
CouncilArea       0.008607
Lattitude        22.882061
Longtitude       22.882061
Regionname        0.008607
Propertycount     0.008607
dtype: float64

It's shown that there are significant missing values for these columns: `Price`, `Bathroom`, `Car`, `Landsize`, `BuildingArea`, `YearBuilt`, `Lattitude`, and `Longtitude`

To make this analysis more comprehensive, we will fill the missing values with a measure of Central Tendency (Median), with exception for `Car`, `Lattitude`, and `Longtitude` which will be replaced with '0'

In [186]:
# Price NaN Values
print("Price")
print("Number of null values before replacement: ", dataset['Price'].isnull().sum())
dataset['Price'].fillna(dataset['Price'].median(), inplace=True)
print("Number of null values after replacement: ", dataset['Price'].isnull().sum())
print(dataset['Price'].head())
print("--------------------------------\n")

# Bathroom NaN Values
print("Bathroom")
print("Number of null values before replacement: ", dataset['Bathroom'].isnull().sum())
dataset['Bathroom'].fillna(dataset['Bathroom'].median(), inplace=True)
print("Number of null values after replacement: ", dataset['Bathroom'].isnull().sum())
print(dataset['Bathroom'].head())
print("--------------------------------\n")

# Car NaN Values
print("Car")
print("Number of null values before replacement: ", dataset['Car'].isnull().sum())
dataset['Car'].fillna(0, inplace=True)
print("Number of null values after replacement: ", dataset['Car'].isnull().sum())
print(dataset['Car'].head())
print("--------------------------------\n")

# Landsize NaN Values
print("Landsize")
print("Number of null values before replacement: ", dataset['Landsize'].isnull().sum())
dataset['Landsize'].fillna(dataset['Landsize'].median(), inplace=True)
print("Number of null values after replacement: ", dataset['Landsize'].isnull().sum())
print(dataset['Landsize'].head())
print("--------------------------------\n")

# Building Area NaN Values
print("Building Area")
print("Number of null values before replacement: ", dataset['BuildingArea'].isnull().sum())
dataset['BuildingArea'].fillna(dataset['BuildingArea'].median(), inplace=True)
print("Number of null values after replacement: ", dataset['BuildingArea'].isnull().sum())
print(dataset['BuildingArea'].head())
print("--------------------------------\n")

# YearBuilt Area NaN Values
print("Year Built")
print("Number of null values before replacement: ", dataset['YearBuilt'].isnull().sum())
dataset['YearBuilt'].fillna(dataset['YearBuilt'].median(), inplace=True)
print("Number of null values after replacement: ", dataset['YearBuilt'].isnull().sum())
print(dataset['YearBuilt'].head())
print("--------------------------------\n")

# Lattitude NaN Values
print("Lattitude")
print("Number of null values before replacement: ", dataset['Lattitude'].isnull().sum())
dataset['Lattitude'].fillna(0, inplace=True)
print("Number of null values after replacement: ", dataset['Lattitude'].isnull().sum())
print(dataset['Lattitude'].head())
print("--------------------------------\n")

# Longtitude NaN Values
print("Longtitude")
print("Number of null values before replacement: ", dataset['Longtitude'].isnull().sum())
dataset['Longtitude'].fillna(0, inplace=True)
print("Number of null values after replacement: ", dataset['Longtitude'].isnull().sum())
print(dataset['Longtitude'].head())
print("--------------------------------\n")

Price
Number of null values before replacement:  7610
Number of null values after replacement:  0
0     870000.0
1    1480000.0
2    1035000.0
3     870000.0
4    1465000.0
Name: Price, dtype: float64
--------------------------------

Bathroom
Number of null values before replacement:  8226
Number of null values after replacement:  0
0    1.0
1    1.0
2    1.0
3    2.0
4    2.0
Name: Bathroom, dtype: float64
--------------------------------

Car
Number of null values before replacement:  8728
Number of null values after replacement:  0
0    1.0
1    1.0
2    0.0
3    1.0
4    0.0
Name: Car, dtype: float64
--------------------------------

Landsize
Number of null values before replacement:  11810
Number of null values after replacement:  0
0    126.0
1    202.0
2    156.0
3      0.0
4    134.0
Name: Landsize, dtype: float64
--------------------------------

Building Area
Number of null values before replacement:  21115
Number of null values after replacement:  0
0    136.0
1    136.0
2     79.0
3    136.0
4    150.0
Name: BuildingArea, dtype: float64
--------------------------------

Year Built
Number of null values before replacement:  19306
Number of null values after replacement:  0
0    1970.0
1    1970.0
2    1900.0
3    1970.0
4    1900.0
Name: YearBuilt, dtype: float64
--------------------------------

Lattitude
Number of null values before replacement:  7976
Number of null values after replacement:  0
0   -37.8014
1   -37.7996
2   -37.8079
3   -37.8114
4   -37.8093
Name: Lattitude, dtype: float64
--------------------------------

Longtitude
Number of null values before replacement:  7976
Number of null values after replacement:  0
0    144.9958
1    144.9984
2    144.9934
3    145.0116
4    144.9944
Name: Longtitude, dtype: float64
--------------------------------

In [187]:
# Verifying the missing values
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  category
 1   Address        34857 non-null  category
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  category
 4   Price          34857 non-null  float64
 5   Method         34857 non-null  category
 6   SellerG        34857 non-null  category
 7   Date           34857 non-null  category
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  category
 10  Bathroom       34857 non-null  float64
 11  Car            34857 non-null  float64
 12  Landsize       34857 non-null  float64
 13  BuildingArea   34857 non-null  float64
 14  YearBuilt      34857 non-null  float64
 15  CouncilArea    34854 non-null  category
 16  Lattitude      34857 non-null  float64
 17  Longtitude     34857 non-null  float64
 18  Regionname     34854 non-null  category
 19  Propertycount  34854 non-null  float64
dtypes: category(9), float64(10), int64(1)
memory usage: 4.7 MB